@media screen and (max-width: 2100px){
    /* Navbar */
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar ul li a{
        padding: 3px 12px;
    }

    /* About */
    #pic{
        flex-direction: column;
    }
    #pic img{
        margin: auto;
    }
    .intro h2{
        margin: auto;
    }

    /* Portfolio */
    .gallery{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1290px){
    /* Navbar */
    .navbar ul li a{
        padding: 1px 10px;
    }

    /* About */
    .intro{
        padding: 50px 150px;
    }
}

@media screen and (max-width: 760px){
    /* Global */
    .headings{
        font-size: 3rem;
    }
    /* Navbar */
    .navbar ul li{
        font-size: 18px;
        letter-spacing: 1px;
        padding: 5px 0px;
    }

    /* Hero */
    #home{
        height: 74rem;
    }
    .headings span{
        margin-top: 125px;
    }
    .hero p{
        font-size: 20px;
        margin-top: 0;
    }
    .hero-btn{
        font-size: 16px;
        padding: 8px 15px;
        margin-top: 30px;
    }
    
    /* About Section */
    #pic{
        flex-direction: column;
        align-items: center;
    }
    #pic img{
        width: 425px;
        height: 375px;
    }
    #about h1 span{
        margin-top: 5px;
    }
    .intro{
        padding: 30px 0px 0px 40px;
        margin-right: 50px;
    }
    #intro h2{
        font-size: 18px;
    }
    .intro p{
        font-size: 20px;
        padding-top: 10px;
    }
    .intro p span{
        font-size: 24px;
    }

    /* Portfolio */
    .headings{
        margin-bottom: 30px;
        padding-top: 0px;
    }
    #portfolio h1 span{
        margin-top: 5px;
    }
    .portfolio-border{
        padding: 30px 50px;
    }
    .gallery{
        display: flex;
        flex-direction: column;
    }
    .gallery img{
        width: 350px;
        height: 350px;
    }
    .gallery img:hover{
        height: 400px;
        width: 400px;
    }
    .gallery p{
        font-size: 20px;
    }

    /* Tools */
    #tools h1 span{
        margin-top: 10px;
    }
    .box-border{
        padding: 0px;
    }
    .box{
        background-size: 100% 150%;
        width: 250px;
        height: 450px;
    }
    .box p{
        font-size: 18px;
    }
    .box img{
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }

    /* Contact */
    #contact h3 span{
        font-size: 22px;
    }
    #contact h1 span{
        margin-top: 5px;
    }
    #contact .logo img{
        height: 150px;
        width: 425px;
    }
    #contact .social-icons #email{
        font-size: 18px;
    }
}

@media screen and (max-width: 450px){
    /* Hero */
    #home{
        height: 72.1rem;
    }
    .headings{
        font-size: 2.4rem;
    }
    .hero p{
        font-size: 18px;
    }
    .hero-btn{
        font-size: 14px;
        letter-spacing: 1px;
        padding: 6px 12px;
    }

    /* About Section */
    #pic img{
       width: 250px;
        height: 275px;
    }

    /* Portfolio */
    #portfolio h1 span{
        font-size: 30px;
    }
    .portfolio-border{
        padding: 50px 30px 10px 30px;
    }
    .gallery img{
        width: 250px;
        height: 250px;
    }
    .gallery img:hover{
        width: 300px;
        height: 300px;
    }

    /* Tools */
    .box p{
        font-size: 18px;
    }
    .box img{
        margin-top: 30px;
    }

    /* Contact */
    #contact h3 span{
        font-size: 18px;
    }
    #contact h3{
        font-size: 22px;
        margin: 20px;
    }
    #contact .logo img{
        height: 125px;
        width: 300px;
        margin-top: 0px;
    }
    .social-icons i{
        margin: 8px 0px;
    }

    /* Footer */
    .copyright{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .copyright p span{
        font-size: 16px;
    }
}
